body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}

.circle {

    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle>div:nth-child(1)
{

    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
}
@keyframes Arrow {
    from{
        rotate: 0deg;

    }
    to{
        rotate: 360deg;
    }

}

.circle>div:nth-child(2)
{
    display: flex;
    position: absolute;
    height: 300px;
    width: 5px;
    animation-name: Arrow;
    animation-duration: 60s;
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
}
.circle>div:nth-child(2)>div
{
    transform: translate(0, +12px);
    display: flex;
    position: absolute;
    height: 130px;
    border: 3px solid white;
}

.circle>div:nth-child(3)
{
    display: flex;
    position: absolute;
    height: 300px;
    width: 5px;
    animation-name: Arrow;
    animation-duration: 360s;
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
}
.circle>div:nth-child(3)>div
{
    transform: translate(0, +82px);
    display: flex;
    position: absolute;
    height: 60px;
    border: 3px solid white;
}