* {
    box-sizing: border-box;
}
body {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 99%;

}
body>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

body>div>div {

    height: 600px;
    width: 50%;
    transition-duration: 2s;
    background-image: url("Black-Steel-Gate-PNG-Image.png");
    background-repeat: no-repeat;
}
.right
{
    background-position: left;
}
.left
{
    background-position: right;
}
.inside{

    background-image: url("pngwing.com(4).png");
    background-size: 300px;
    transform: translateY(150px);
    position: absolute;
    z-index: -1;
}
.inside div {
    color: white;
    transform: translateX(230px);
    font: normal 40px Arial;
}

.main:hover .left {
    transform:perspective(15px) rotateY(1deg) translateX(-180px);
    transition-duration: 2s;
}

.main:hover .right {
    transform: perspective(15px) rotateY(-1deg) translateX(180px);
    transition-duration: 2s;
}

.main:hover .inside {
    transition-delay: 2s;
    transform: scale(1.2) translateX(250px) translateY(200px);
    transition-duration: 2s;
    z-index: 2;
}

.main:hover .inside div {
    transition-duration: 2s;
    color: black;
    transition-delay: 2s;
}
